#header__top{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.__logo{
    display:flex;
    height: 90px;
    width: 90px;
    position: relative;
    top: -30px;
    padding: 15px;
    left: 125px;
    
}
.__navPart ul{
    display: flex;
    gap: 25px;
    align-items: center;
    position: relative;
    right: 80px;
    top: 10px;
}
.__navPart ul li{
    display: flex;
}
.__navPart ul li a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}
.__navPart ul li a:hover{
    color: #cf2e2e    ;
}
.__headerButtons{
    display:flex
}

.__signup button{
background-color: #2685c6;
color: white;
height: 40px;
width: 100px;
border:none;
font-size: 15px;
font-weight: bold;
}

.__signup button:hover{
    background-color: #0693e3;
    }

.__login button{
background-color: white;
border: none;
height: 40px;
width: 100px;
font-size: 15px;
font-weight: bold;
}

.__login button:hover{
    font-size: 0;
    }

 .__login button:hover::after{
    content: attr(data-hover);
    font-size: 15px;
}

.__login,.__signup button{
    position: relative;
    right: 150px;
    top: 10px;
}

#header__middle{
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.HMleft__side{
    display: flex;
    flex-direction: column;
    padding-right: 4.875rem;
    padding-left: 4.875rem;
}

.HMleft__side h1{
    font-size: 3.25rem;
    font-weight: lighter;
    font-family: sans-serif;
    text-align: left;
    justify-content: center;
    max-width: 45rem;
    margin: 0 auto 0.375rem;

}
.first__text{
    max-width: 45rem;
    font-size: 1.375rem;
    width: 550px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
    line-height: 1.65;
}
.second__text{
    font-weight: 300;
    color: #3a3a3a;
    font-size: 1rem;
    line-height: 1.25;
    overflow-wrap: break-word;
    width: 550px;
    max-width: 41rem;

}

.second__text span a{
    color: #3a3a3a;
}
.HM__buttons{
    font-size: 1rem;
    line-height: 1.25;
    display: flex;
    gap: 15px;
    padding: 40px 0;
}

.freeSignUpButton{
background-color: #2685c6;
font-weight: bold;
color: white;
height: 40px;
width: 200px;
font-size: medium;
border: none;
}

.liveDemoButton{
background-color: #f6bb43;
font-weight: bold;
color: white;
height: 40px;
width: 180px;
font-size: medium;
border: none;
}

.__video{
   position: relative;
   top: 20px;
   right: 50px;
   border: 1px solid  white;
   border-radius: 5px;
}

.__banner{
    padding-top: 5.125rem;
    border-bottom: 1px gray solid;
    padding-bottom: 7rem;
}
.__blurb{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-size: 2rem;
    font-weight: 400;
    color: #3a3a3a;
}
.__bannerimg{
    display: flex;
    justify-content: center;
}


.dinosaur__image{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.dinosaur__image img{
    max-width: 30rem;
}

.dinosaur__text{
    color: #6e6c6c;
    font-size: 1.625rem;
    font-weight: 400;
    font-family: "National","Helvetica","Arial",sans-serif;
    overflow-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    max-width: 38rem;
    overflow-wrap: break-word;
    text-align: center;
}

.dinosaur__text2{
    color: #6e6c6c;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 38rem;
    overflow-wrap: break-word;
    padding-top: 10px;
}

.dinosaur__text2 span a{
    color: rgba(6,147,227,1) ;
    text-decoration: none;
}

.dinosaur__grid{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 65rem;
    column-gap: 10px;
    padding-bottom: 20px;
}
.dinosaur__grid div img{
    max-width: 3.25rem;
    position: relative;
    top: 20px;
    left: 40px;
}

.gridfirst__text,.gridsecond__text,.gridthird__text{
    font-size: 1rem;
    line-height: 1.375;
    color: #6e6c6c;
}

.gridsecond__text span a{
    color: rgba(6,147,227,1) ;
    text-decoration: none;
}

.gridfirst__text h2{
    font-size: medium;
}
.gridthird__text h2{
    font-size: medium;
}

.gridsecond__text h2{
    font-size: medium;
}

.left__cloud img{
    max-width: 15rem;
}
.right__cloud img{
    max-width: 15rem;
}

.dBannerGrid{
    background-color: #61B7D4;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 75px 25px 75px;
    grid-template-areas: 
    "flying started rcloud"
    ". signup ."
    "lcloud button landdino";
    row-gap: 20px;
}
.flying__dino{
    display: flex;
    justify-content: center;
grid-area: flying;
}

.started__text{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: started;
    color: white;
    font-size: 2.75rem;
    font-weight: 400;
}

.right__cloud{
    display: flex;
    justify-content: center;
    grid-area: rcloud;
}

.sign__up__text{
    display: flex;
    justify-content: center;
    grid-area: signup;
    font-size: 1.25rem;
    color: white;
}

.left__cloud{
    display: flex;
    justify-content: center;
    grid-area: lcloud;
}

.dinosignup__button{
    display: flex;
    grid-area: button;
    justify-content: center;

}

.land__dino{
    display: flex;
    justify-content: center;
    grid-area: landdino;
}

.dinosignup__button button{
background-color: #61E064;
width: 200px;
height: 50px;
color: white;
border: lightgreen 1px solid;
font-weight: bold;
}

.listoflinks{
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.__list1 a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: gray;
    padding: 5px;
    font-size: medium;
}
.__list2 a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: gray;
    padding: 5px;
    font-size: medium;
}
.__list3 a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: gray;
    padding: 5px;
    font-size: medium;
}
.__list4 a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: gray;
    padding: 5px;
    font-size: medium;
}
.__list5 a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: gray;
    padding: 5px;
    font-size: medium;
}

.__list1 a:hover{
    text-decoration: underline;
}
.__list2 a:hover{
    text-decoration: underline;   
}
.__list3 a:hover{
    text-decoration: underline; 
}
.__list4 a:hover{
    text-decoration: underline;
}
.__list5 a:hover{
    text-decoration: underline;
}

:root{
    --file-background-color:a;
    font-family: "National","Helvetica","Arial",sans-serif;

}
